.zoom-widget { 
  z-index: 2147483647; 
  position: fixed;
  float:right;
  right:0;
  display: block;
  text-indent: 0;
  /*width:50px;*/
}
.zoom-widget div {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #EEE;
  color: #000;  
  padding: 10px;
}

#controls > button {
	border-radius: 10px;	
	border:none;
}

#controls {
	display: none;
}

.zoom-widget:hover > #controls {
	display: block;	
}

.zoom-widget:hover > span {
	display: none;	
}